@charset "utf-8"; 

/* 메인 */
#wrap #container	{background:url(../images/common/bg_container.gif) repeat;}
#wrap #container .content {padding-top:110px;}

#content1 {width:716px;height:474px;margin-bottom:10px;float:left;background:url(../images/main/img_main_visual01.jpg) no-repeat;text-align:center}
#content1 .main_copy{width:360px;height:260px;margin:auto;text-align:center;margin-top:130px;}
#content1 .tit_s{font-family:NanumSquare;color:#fff;font-size:36px;line-height:50px}
#content1 .tit_b{font-family:NanumSquare;color:#fff;font-size:48px;background:url(../images/main/img_line01.jpg) no-repeat;background-position:bottom;line-height:50px;padding-bottom:16px;font-weight:bold;}
#content1 .tit_b span{color:#ffd800}
#content1 .text{color:#fff;font-size:17px;margin-top:16px;line-height:24px}


#content2 {position:relative;width:474px;/*height:716px;*/float:right}
#content2 .side{position:relative}
#content2 .side h2{float:left;width:100%;height:30px;position:relative;background:url(../images/main/bg_h2_orange.jpg) no-repeat left 20px;font-size:14px;color:#333;font-weight:bold}
#content2 .side h3{float:left;width:100%;height:30px;position:relative;background:url(../images/main/bg_h2_orange.jpg) no-repeat left 12px;font-size:14px;color:#fff;font-weight:bold;margin-top:6px}
/*#content2 .btn_go{float:right;}
#content2 .txt_b{float:left;color:#333;font-size:18px;font-weight:bold}
#content2 .txt_s{clear:both;float:left;color:#8e8e8e;font-size:13px;margin-top:-12px;}*/
#content2 .txt_w{clear:both;float:left;background:url(../images/main/img_bullet_white.png) no-repeat left 5px;padding-left:10px;margin-top:10px;color:#fff;font-size:13px;line-height:16px;}

#content2 .mail {float:left;background:#fff;background:url(../images/main/img_mail.png) center 75px no-repeat;width:200px;height:200px;border:1px solid #ccc;padding:15px}
#content2 .mail .txt_b{clear:both;float:left;margin:130px 10px 0 0;color:#333;font-size:18px;font-weight:bold}
#content2 .mail .txt_s{clear:both;float:left;margin:4px 10px 0 0;color:#8e8e8e;font-size:13px;line-height:16px}
#content2 .mail .btn_go{display:inline-block;float:right;padding-right:10px;margin-top:-18px;}

#content2 .document{float:right;background-color:#fff;background:url(../images/main/img_document.png) center 70px no-repeat;width:200px;height:200px;border:1px solid #ccc;padding:15px}
#content2 .document .txt_b{clear:both;float:left;margin:130px 10px 0 0;color:#333;font-size:18px;font-weight:bold}
#content2 .document .txt_s{clear:both;float:left;margin:4px 10px 0 0;color:#8e8e8e;font-size:13px;line-height:16px}
#content2 .document .btn_go{display:inline-block;float:right;padding-right:10px;margin-top:-18px;}

#content2 .mobile{float:left;background-color:#fff;background:url(../images/main/img_mobile.png) center 70px no-repeat;width:200px;height:200px;border:1px solid #ccc;margin-top:10px;padding:15px}
#content2 .mobile .txt_b{clear:both;float:left;margin:130px 10px 0 0;color:#333;font-size:18px;font-weight:bold}
#content2 .mobile .txt_s{clear:both;float:left;margin:4px 10px 0 0;color:#8e8e8e;font-size:13px;line-height:16px}
#content2 .mobile .btn_go{display:inline-block;float:right;padding-right:10px;margin-top:-18px;}

#content2 .news{float:left;background-color:#003f73;width:200px;height:200px;border:1px solid #ccc;margin-top:10px;padding:15px}
#content2 .news .txt_w{clear:both;float:left;margin:10px 6px 0 0;color:#fff;font-size:13px;line-height:16px}
#content2 .news .btn_go{display:inline-block;float:right;padding-right:5px;margin-top:5px;}

#content2 .Issue{float:right;width:230px;height:472px;border:1px solid #ccc;margin-top:-232px;}
#content2 .Issue span{width:230px; height:230px;}
#content2 .Issue h2{float:left;margin:14px 10px 0 10px;width:90%;height:30px;position:relative;background:url(../images/main/bg_h2_orange.jpg) no-repeat left 20px;font-size:14px;color:#333;font-weight:bold}
#content2 .Issue .txt_b{float:left;margin:3px 10px 0 10px;color:#333;font-size:18px;font-weight:bold}
#content2 .Issue .txt_s{clear:both;float:left;margin:10px 10px 0 10px;color:#8e8e8e;font-size:13px;line-height:16px}
#content2 .Issue .btn_next{clear:both;float:right;}
#content2 .Issue .btn_next_left{float:left;font-size:12px;font-weight:bold;padding-left:10px;;margin-top:15px;}
#content2 .Issue .btn_next_left a:link{text-decoration:underline;color:#777}
#content2 .Issue .btn_next_right{float:right;font-size:12px;font-weight:bold;padding-right:10px;margin-top:15px;}
#content2 .Issue .btn_next_right a:link{text-decoration:underline;color:#777}


#content3{position:relative;float:left;width:716px;}
#content3 .mi dl{width:440px;float:left;/*height:200px;*/border:1px solid #ccc;padding:15px 15px 12px 15px;background-color:#fff}
#content3 .mi dt{}
#content3 .mi dt h2{float:left;clear:left;width:20%;height:30px;position:relative;background:url(../images/main/bg_h2_orange.jpg) no-repeat left 20px;font-size:14px;color:#333;font-weight:bold;margin-right:40px;}
#content3 .mi dd {display:inline;text-align:right;font-size:13px;font-weight:bold;}
#content3 .mi dd a:link, a:visited {text-decoration:none;padding:3px 8px;margin-right:5px;}
#content3 .mi dd a:hover, a:active {color:#fff;padding:3px 8px;background-color:#f08200;border-radius:5px;}
#content3 .mi dd.on{color:#fff;padding:5px 8px;background-color:#f08200;border-radius:5px;}
#content3 .mi span a:link, a:visited {text-decoration:none}
#content3 .mi span a:hover, a:active {text-decoration:none}
#content3 .mi .thum{clear:both;float:left;width:210px;padding-top:10px;}
span.mi_tit{display:inline-block;width:220px;color:#333;font-size:18px;font-weight:bold;padding-top:30px;}
span.mi_txt{display:inline-block;width:230px;color:#8e8e8e;font-size:13px;line-height:16px;padding-top:10px;}

#content3 .talk{float:right;width:200px;/*height:200px;*/border:1px solid #ccc;padding:15px 15px 13px 15px;background-color:#fff}
#content3 .talk h2{float:left;width:50%;height:30px;position:relative;background:url(../images/main/bg_h2_orange.jpg) no-repeat left 20px;font-size:14px;color:#333;font-weight:bold}
#content3 .talk span{float:right;widht:50%}
#content3 .talk .facebook{float:left;width:100%;font-size:12px;}
#content3 .talk .fb_img{float:left;padding-right:10px;margin-top:7px;}
#content3 .talk .fb_name{float:left;color:#f08200;font-weight:bold;padding-right:20px;margin-top:4px;}
#content3 .talk .fb_time{float:left;color:#777;margin-top:1px;}
#content3 .talk .fb_text{clear:both;float:left;margin-top:14px;color:#555;line-height:16px}
#content3 .talk .fb_more{float:left;margin-top:10px;color:#f08200;}









@media screen and (max-width:740px){
	
	#wrap #container	{background:#fff}
	#wrap #container .content {padding-top:1px;}
	
	#content1 {display:none;/*margin-bottom:10px;float:left;background:url(../images/main/img_main_visual01.jpg) no-repeat;text-align:center*/}
	#content1 .main_copy{margin:auto;text-align:center;margin-top:130px;}
	#content1 .tit_s{font-family:NanumSquare;color:#fff;font-size:36px;line-height:50px}
	#content1 .tit_b{font-family:NanumSquare;color:#fff;font-size:48px;background:url(../images/main/img_line01.jpg) no-repeat;background-position:bottom;line-height:50px;padding-bottom:16px;font-weight:bold;}
	#content1 .tit_b span{color:#ffd800}
	#content1 .text{color:#fff;font-size:17px;margin-top:16px;line-height:24px}
	
	
	#content2 {position:relative}
	#content2 .side{position:relative}
	#content2 .side h2{display:none}
	#content2 .side h3{display:none}
	/*#content2 .btn_go{float:right;}
	#content2 .txt_b{float:left;color:#333;font-size:18px;font-weight:bold}
	#content2 .txt_s{clear:both;float:left;color:#8e8e8e;font-size:13px;margin-top:-12px;}
	#content2 .txt_w{clear:both;float:left;background:url(../images/main/img_bullet_white.png) no-repeat left 5px;padding-left:10px;margin-top:10px;color:#fff;font-size:13px;line-height:16px;}*/
	
	#content2 .mail {background:url(../images/main/img_mail.png) center 35px no-repeat}
	#content2 .mail .txt_b{margin:130px 10px 0 0;color:#333;font-size:18px;font-weight:bold}
	#content2 .mail .txt_s{margin:4px 10px 0 0;color:#8e8e8e;font-size:13px;line-height:16px}
	#content2 .mail .btn_go{display:none}
	
	#content2 .document{background:url(../images/main/img_document.png) center 35px no-repeat}
	#content2 .document .txt_b{margin:130px 10px 0 0;color:#333;font-size:18px;font-weight:bold}
	#content2 .document .txt_s{margin:4px 10px 0 0;color:#8e8e8e;font-size:13px;line-height:16px}
	#content2 .document .btn_go{display:none}
	
	#content2 .mobile{background:url(../images/main/img_mobile.png) center 35px no-repeat}
	#content2 .mobile .txt_b{margin:130px 10px 0 0;color:#333;font-size:18px;font-weight:bold}
	#content2 .mobile .txt_s{margin:4px 10px 0 0;color:#8e8e8e;font-size:13px;line-height:16px}
	#content2 .mobile .btn_go{display:none}
	
	#content2 .news{display:none}
	
	#content2 .Issue{float:left;}
	#content2 .Issue span{}
	#content2 .Issue h2{float:left;margin:14px 10px 0 10px;width:90%;height:30px;position:relative;background:url(../images/main/bg_h2_orange.jpg) no-repeat left 20px;font-size:14px;color:#333;font-weight:bold}
	#content2 .Issue .txt_b{float:left;margin:3px 10px 0 10px;color:#333;font-size:18px;font-weight:bold}
	#content2 .Issue .txt_s{clear:both;float:left;margin:10px 10px 0 10px;color:#8e8e8e;font-size:13px;line-height:16px}
	#content2 .Issue .btn_next{clear:both;float:right;}
	#content2 .Issue .btn_next_left{float:left;font-size:12px;font-weight:bold;padding-left:10px;;margin-top:15px;}
	#content2 .Issue .btn_next_left a:link{text-decoration:underline;color:#777}
	#content2 .Issue .btn_next_right{float:right;font-size:12px;font-weight:bold;padding-right:10px;margin-top:15px;}
	#content2 .Issue .btn_next_right a:link{text-decoration:underline;color:#777}
	
	
	#content3{position:relative;float:left;}
	#content3 .mi dl{float:left;/*height:200px;*/border:1px solid #ccc;padding:15px 15px 12px 15px;background-color:#fff}
	#content3 .mi dt{}
	#content3 .mi dt h2{float:left;clear:left;width:20%;height:30px;position:relative;background:url(../images/main/bg_h2_orange.jpg) no-repeat left 20px;font-size:14px;color:#333;font-weight:bold;margin-right:40px;}
	#content3 .mi dd {display:inline;text-align:right;font-size:13px;font-weight:bold;}
	#content3 .mi dd a:link, a:visited {text-decoration:none;padding:3px 8px;margin-right:5px;}
	#content3 .mi dd a:hover, a:active {color:#fff;padding:3px 8px;background-color:#f08200;border-radius:5px;}
	#content3 .mi dd.on{color:#fff;padding:5px 8px;background-color:#f08200;border-radius:5px;}
	#content3 .mi span a:link, a:visited {text-decoration:none}
	#content3 .mi span a:hover, a:active {text-decoration:none}
	#content3 .mi .thum{clear:both;float:left;width:210px;padding-top:10px;}
	span.mi_tit{display:inline-block;width:220px;color:#333;font-size:18px;font-weight:bold;padding-top:30px;}
	span.mi_txt{display:inline-block;width:230px;color:#8e8e8e;font-size:13px;line-height:16px;padding-top:10px;}
	
	#content3 .talk{/*height:200px;*/border:1px solid #ccc;padding:15px 15px 13px 15px;background-color:#fff}
	#content3 .talk h2{float:left;width:50%;height:30px;position:relative;background:url(../images/main/bg_h2_orange.jpg) no-repeat left 20px;font-size:14px;color:#333;font-weight:bold}
	#content3 .talk span{float:right;widht:50%}
	#content3 .talk .facebook{float:left;width:100%;font-size:12px;}
	#content3 .talk .fb_img{float:left;padding-right:10px;margin-top:7px;}
	#content3 .talk .fb_name{float:left;color:#f08200;font-weight:bold;padding-right:20px;margin-top:4px;}
	#content3 .talk .fb_time{float:left;color:#777;margin-top:1px;}
	#content3 .talk .fb_text{clear:both;float:left;margin-top:14px;color:#555;line-height:16px}
	#content3 .talk .fb_more{float:left;margin-top:10px;color:#f08200;}

}