{% macro cont_first(title='', decs='', img='', sub_decs='') %}
	<div class="prd_sec" id="cont1">
		<div class="inset">
			<p class="title">{{ title }}</p>
			<p class="decs">{{decs}}</p>
			<div class="img"><img src="../../images/product/{{img}}.png" alt=""></div>
			<p class="sub_decs">{{sub_decs}}</p>
		</div>
	</div>
{% endmacro %}