

// images URL
$url_common : '/static/di/images/common/';
$url_content : '/static/di/images/content/';
$url_social : '/static/di/images/social/';
$url_recruit : '/static/di/images/recruit/';

$breakpoints-tablet : 1279;
$breakpoints-mobile : 767;

$wrap_size : 1224px;
$wrap_size_social : 1200px;



