
{% set title = '제품소개' %}
{% set products_type = 'products mobilesafer' %}
{% import "./templates/_fn.njk" as fn %}


{% extends "./templates/_layout.njk" %}

{% block content %}
<div class="prodocuts">
    {{
        fn.cont_visual(
            title1='모바일 이메일 보안', 
            title2='메일세이퍼', 
            img='img_product_mailsafer_visual', 
            decs='모바일 이메일 관리를 통한 내부정보 유출 방지 <br>모바일 이메일 보안 전문 MEM 솔루션', 
            type1=true, 
            type2=true, 
            btn1=true
        )
    }}
    <div class="prd_conts">
        <div class="prd_scroll_spy">
	        <div class="scroll_spy_nav" data-modules-scrollspy>
                {{
                    fn.scrollnav(['제품소개', '특장점', '주요기능', '레퍼런스', '이용방법'])
                }}
            </div>
            <div class="scroll_spy_conts">
                {{
                    fn.cont_first(
                        title='스마트 모바일 오피스,<em>메일세이퍼</em>',
                        decs='<em>메일세이퍼(MailSafer)</em>는 모바일 이메일 보안전용 앱을 통하여 기업 정보 유출을 방지하고 PC 환경의 아웃룩을 손쉽고 안전하게 <br>모바일에서 사용할 수 있는 <em>기업용 모바일 이메일 보안 솔루션</em> 입니다. 메일세이퍼는 기업 보안성과 사용자 편의성을 동시에 갖춘 스마트 모바일 오피스를 <br>구현하여 모바일 이메일 사용 증가에 따라 심각해지는 보안 위협에 대응할 수 있는 강력한 모바일 이메일 보안 환경을 제공합니다.', 
                        img='img_product_mailsafer_intro', 
                        id='cont1',
                        class = ''
                    )
                }}

                {{
                    fn.cont_benefits(
                        title="<em>메일세이퍼</em>가 특별한 이유", 
                        decs="메일세이퍼는 모바일 이메일 보안에 특화된 MEM<i>*</i> 솔루션으로 기존 메일 서버 변경 없이 단기간 모바일 이메일 보안 시스템을 구축할 수 있습니다. <br>메일세이퍼는 모바일 오피스의 핵심인 모바일 이메일의 활용도가 높은 기업들에게 필수 보안 기능을 제공하여 무거운 모바일 오피스나 자체 앱 개발 없이도 <br>단기간, 경제적인 비용으로 모바일 오피스를 구현하고 있습니다.", 
                        list_decs = [
                            {
                                img : "img_product_mailsafer_benefits_01",
                                title : "내부 정보 유출 차단",
                                decs : "읽기전용 뷰어 및
자체 앱 보안 제공"
                            },
                            {
                                img : "img_product_mailsafer_benefits_02",
                                title : "사용자 친화적 UI",
                                decs : "기존 PC 환경과 
동일 인터페이스로 제공"
                            },
                            {
                                img : "img_product_mailsafer_benefits_03",
                                title : "컴플라이언스 대응",
                                decs : "강화된 모바일 보안 
가이드 준수"
                            },
                            {
                                img : "img_product_mailsafer_benefits_04",
                                title : "손쉬운 구축 및 운영",
                                decs : "기존 메일서버 변경없이 
즉시 구축"
                            }
                        ], 
                        subDecs="<i>*</i>MEM(Mobile Email Management) : 모바일 이메일 보안",
                        id="cont2",
                        class="bg_grey"
                    )
                }}

                {{
                    fn.cont_features(
                        title='<em>메일세이퍼</em>로 안심하는 모바일 오피스 생활', 
                        decs='메일세이퍼는 첨부파일 다운로드 금지와 캡처 방지 등 모바일 이메일을 통한 내부 정보 유출을 사전에 방지합니다. 모바일 오피스에 필요한 일정, 문서, 연락처 관리 등 <br>사용자 편의성을 제공하여 기업 보안성과 사용자 편의성을 한 번에 책임지고 관리합니다. 스마트 워크의 시대, 이제 모바일 메일 환경은 메일세이퍼로 안전하게 관리하시기 바랍니다.', 
                        list_decs = [
                            {
                                img : "img_product_mailsafer_features_01",
                                title : "내부 정보 유출 방지",
                                decs : "파일 다운로드, <br>화면캡처, 메일포워딩 제어"
                            },
                            {
                                img : "img_product_mailsafer_features_02",
                                title : "이메일 권한 제어",
                                decs : "등록된 사용자 <br>접근 허용 및 통제"
                            },
                            {
                                img : "img_product_mailsafer_features_03",
                                title : "랜섬웨어 차단",
                                decs : "HTML 뷰어 통한 <br>악성코드 감염 차단"
                            },
                            {
                                img : "img_product_mailsafer_features_04",
                                title : "PC 환경 유지",
                                decs : "PC 환경 그대로 사용 <br>메일/일정/연락처 연동"
                            },
                            {
                                img : "img_product_mailsafer_features_05",
                                title : "사용 편의성 극대화",
                                decs : "캘린더, 연락처 등 <br>편의 기능 제공"
                            },
                            {
                                img : "img_product_mailsafer_features_06",
                                title : "멀티 OS 지원",
                                decs : "iOS/Android 지원 <br>태블릿 지원"
                            },
                            {
                                img : "img_product_mailsafer_features_07",
                                title : "고객 니즈 최적화",
                                decs : "고객 규모에 맞는 어플라이언스<br>/에이전트 형태로 지원"
                            },
                            {
                                img : "img_product_mailsafer_features_08",
                                title : "편리한 검색 지원", 
                                decs : "메일 검색 <br>필터링, 북마크"
                            }
                        ], 
                        id="cont3",
                        class=""

                    )
                }}

                {{
                    fn.cont_reference(
                        title='<em>메일세이퍼</em> 도입 기업들', 
                        decs='메일세이퍼를 도입한 기업들은 안전한 모바일 이메일 환경을 구축하여 기업 정보 자산 유출을 차단하고 안전한 모바일 오피스 환경을 누리고 계십니다.', 
                        imgs=[
                            "img_product_mailsafer_reference_01_01_m",
                            "img_product_mailsafer_reference_01_02_m",
                            "img_product_mailsafer_reference_01_03_m",
                            "img_product_mailsafer_reference_01_04_m",
                            "img_product_mailsafer_reference_01_05_m",
                            "img_product_mailsafer_reference_01_06_m",
                            "img_product_mailsafer_reference_02_01_m",
                            "img_product_mailsafer_reference_02_02_m",
                            "img_product_mailsafer_reference_02_03_m",
                            "img_product_mailsafer_reference_02_04_m",
                            "img_product_mailsafer_reference_02_05_m",
                            "img_product_mailsafer_reference_02_06_m",
                            "img_product_mailsafer_reference_03_01_m",
                            "img_product_mailsafer_reference_03_02_m",
                            "img_product_mailsafer_reference_03_03_m",
                            "img_product_mailsafer_reference_03_04_m",
                            "img_product_mailsafer_reference_03_05_m",
                            "img_product_mailsafer_reference_03_06_m"
                        ], 
                        id='cont4', 
                        class='bg_grey'
                    )
                }}

                {{
                    fn.cont_use(
                        title='똑똑한 <em>메일세이퍼</em> 이용법', 
                        decs='메일세이퍼를 도입하는 기업 환경에 따라 다양한 구축 모델을 제공하여 기업에 최적화된 서비스로 제공합니다.', 
                        list_decs=[
                            {
                                title:'메일세이퍼 구축형',
                                decs : '메일세이퍼 구축형은 기업 내부에 서버를 구축하여 기업 맞춤식 도입이 가능합니다. 보안성과 안정성에 초점을 둔 대규모 인프라가 구축된 기업에게 적합합니다.'
                            },
                            {
                                title:'메일세이퍼 어플라이언스',
                                decs : '메일세이퍼 어플라이언스는 별도의 소프트웨어 설치나 설정이 필요 없는 일체형 장비로 제공됩니다. 추가 설치 없이 신청 후 최대 2주 안에 설치 및 운영이 가능합니다.'
                            }
                        ], 
                        id='cont5', 
                        class=''
                    )
                }}

                {{
                    fn.cont_guide(
                        title1="메일세이퍼가 궁금하신가요?", 
                        title2='편하신 방법으로 문의하세요!', 
                        tel='02-2006-6970', 
                        mail='ms@jiran.com', 
                        id='', 
                        class='guide'
                    )
                }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
    