
{% set title = '제품소개' %}
{% set products_type = 'products page09' %}
{% import "./templates/_fn.njk" as fn %}


{% extends "./templates/_layout.njk" %}

{% block content %}
<div class="prodocuts">
    {{
        fn.cont_visual(
            title1='엔터프라이즈 모바일 통합 솔루션', 
            title2='모바일키퍼', 
            img='img_product_mobilekeeper_visual', 
            decs='기업 모바일 서비스 운영에 요구되는 다양한 모바일 <br>보안 및 관리를 위한 EMM 솔루션', 
            type1=true, 
            type2=true, 
            type3=true, 
            btn1=true
        )
    }}
    <div class="prd_conts">
        <div class="prd_scroll_spy">
	        <div class="scroll_spy_nav" data-modules-scrollspy>
                {{
                    fn.scrollnav(['제품소개', '특장점', '주요기능', '레퍼런스', '이용방법'])
                }}
            </div>
            <div class="scroll_spy_conts">
                {{
                    fn.cont_first(
                        title='모바일 보안의 모든것, <em>모바일키퍼</em>',
                        decs='<em>모바일키퍼(MobileKeeper)</em>는 법인 및 개인 단말 관리, 앱 보안, 출입통제를 포함한 <em>기업의 모든 모빌리티를 통합 관리하는 EMM<i>*</i> 솔루션</em>으로 <br>모바일에 대한 관리 및 보안과 업무 생산성 향상까지 책임지는 모바일 통합 플랫폼을 제공합니다. 공공/금융/국방 보안감사를 통과한 국가 공인 솔루션으로 <br>100만 이상의 유저, 200개 이상의 고객사 구축 경험으로 국내 1위 레퍼런스를 보유하고 있습니다. 모바일키퍼는 국내 기업에 최적화된 모바일 출입통제, <br>모바일 오피스 보안, 모바일 단말 관리 서비스로 모빌리티관리와 업무생산성 두가지를 모두  만족하는 모바일 경험을 제공합니다.', 
                        img='img_product_mobilekeeper_intro', 
                        sub_decs='<i>*</i>EMM(Enterprise Mobility Management) : 엔터프라이즈 모빌리티 관리',
                        id='cont1',
                        class = ''
                    )
                }}

                {{
                    fn.cont_benefits(
                        title="<em>모바일키퍼</em>가 특별한 이유", 
                        decs="모바일키퍼는 공공·금융기관의 컴플라이언스를 충족하고 국내 최다 구축사례 및 MDM 분야 기술평가 최다 1위로 기술력과 안정성을 검증받았습니다. <br>국내 최다 100만 유저 이상의 구축 운영 노하우를 바탕으로 기업의 보안 규정을 준수하는 효과적인 보안과 성공적인 변화관리로 사용자의 스마트폰 사용권을 동시 충족합니다. <br>모바일보안 전담 사업수행팀이 제공하는 전문 컨설팅을 통해 안전하고 편리한 모바일 서비스 환경을 구축하실 수 있습니다.", 
                        list_decs = [
                            {
                                img : "img_product_mobilekeeper_benefits_01",
                                title : "시장 점유율 1위",
                                decs : "100만 유저이상, 200개 이상 <br>고객사 구축 운영"
                            },
                            {
                                img : "img_product_mobilekeeper_benefits_02",
                                title : "전담 기술 인력 보유",
                                decs : "5년 이상 MDM 전담 <br>기술인력 비율 84%"
                            },
                            {
                                img : "img_product_mobilekeeper_benefits_03",
                                title : "모바일 전문 컨설팅",
                                decs : "최다 구축 Know-How <br>운영/규제 컨설팅"
                            },
                            {
                                img : "img_product_mobilekeeper_benefits_04",
                                title : "검증된 솔루션",
                                decs : "다수 인증/특허 및 <br>산업군별 보안감사 통과"
                            }
                        ], 
                        id="cont2",
                        class="bg_grey"
                    )
                }}

                {{
                    fn.cont_features(
                        title='<em>모바일키퍼</em>로 누리는 안전한 모바일 생활',
                        decs='모바일키퍼는 기업 모빌리티 관리에 필요한 모바일 단말 관리(MDM: Mobile Device Management), 앱 보안 관리(MAM: Mobile Application Management), 
모바일 출입통제(MDAC: Mobile Decice Access Control), 콘텐츠 보안 관리(MCM: Mobile Contents Management) 등을 통합 제공합니다. 
MDM 플랫폼을 기반으로 개별 도입/운영이 가능한 모듈로 기업의 모바일 서비스 운영 정책에 맞춘 최적화된 구성으로 도입해 보시기 바랍니다.', 
                        list_decs = [
                            {
                                img : "img_product_mobilekeeper_features_01",
                                title : "기기 관리",
                                decs : "카메라, 화면 캡처 차단 <br>기기보안 정책 설정"
                            },
                            {
                                img : "img_product_mobilekeeper_features_02",
                                title : "분실 관리",
                                decs : "원격 잠금, 위치확인 <br>공장 초기화"
                            },
                            {
                                img : "img_product_mobilekeeper_features_03",
                                title : "자산 관리",
                                decs : "법인단말 <br>등록/관리"
                            },
                            {
                                img : "img_product_mobilekeeper_features_04",
                                title : "기기 보안",
                                decs : "단말인증, 루팅/탈옥체크 <br>루팅단말 접속차단"
                            },
                            {
                                img : "img_product_mobilekeeper_features_05",
                                title : "통계/이력",
                                decs : "그룹/사용자/단말별 현황 <br>설치현황, 단말OS버전 등"
                            },
                            {
                                img : "img_product_mobilekeeper_features_06",
                                title : "모바일 앱 관리",
                                decs : "전용 앱스토어 제공 <br>앱 관리 프로세스 자동화"
                            },
                            {
                                img : "img_product_mobilekeeper_features_07",
                                title : "모바일 앱 보안",
                                decs : "업무 앱 실행 시 무결성 검증 <br>(위변조, 루팅/탈옥 등)"
                            },
                            {
                                img : "img_product_mobilekeeper_features_08",
                                title : "앱/콘텐츠 관리",
                                decs : "앱/콘텐츠 배포관리 <br>및 원격 설치/실행/삭제"
                            },
                            {
                                img : "img_product_mobilekeeper_features_09",
                                title : "법인 단말 관리",
                                decs : "화이트리스트, <br>법인단말 전용 관리자 페이지 제공"
                            },
                            {
                                img : "img_product_mobilekeeper_features_10",
                                title : "모바일 출입통제",
                                decs : "사내 보안구역 기기 통제 <br>물리보안, 무선 다양한 연계"
                            },
                            {
                                img : "img_product_mobilekeeper_features_11",
                                title : "모바일 컨테이너",
                                decs : "컨테이너, 시큐어 카메라, <br>시큐어 브라우저 등"
                            },
                            {
                                img : "img_product_mobilekeeper_features_12",
                                title : "부가 솔루션",
                                decs : "백신/가상키패드/ <br>위변조/E2E 등"
                            }
                        ], 
                        id="cont3",
                        class=""

                    )
                }}

                {{
                    fn.cont_reference(
                        title='<em>모바일키퍼</em> 도입 기업들', 
                        decs='모바일키퍼를 도입한 기업들은 모바일 기기에 의한 기업 정보 유출 방지뿐만 아니라 효율적인 모바일 서비스 운영을 위한 최적화된 모빌리티 환경을 누리고 계십니다.', 
                        imgs=[
                            "img_product_mobilekeeper_reference_01_01_m",
                            "img_product_mobilekeeper_reference_01_02_m",
                            "img_product_mobilekeeper_reference_01_03_m",
                            "img_product_mobilekeeper_reference_01_04_m",
                            "img_product_mobilekeeper_reference_01_05_m",
                            "img_product_mobilekeeper_reference_01_06_m",
                            "img_product_mobilekeeper_reference_02_01_m",
                            "img_product_mobilekeeper_reference_02_02_m",
                            "img_product_mobilekeeper_reference_02_03_m",
                            "img_product_mobilekeeper_reference_02_04_m",
                            "img_product_mobilekeeper_reference_02_05_m",
                            "img_product_mobilekeeper_reference_02_06_m",
                            "img_product_mobilekeeper_reference_03_01_m",
                            "img_product_mobilekeeper_reference_03_02_m",
                            "img_product_mobilekeeper_reference_03_03_m",
                            "img_product_mobilekeeper_reference_03_04_m",
                            "img_product_mobilekeeper_reference_03_05_m",
                            "img_product_mobilekeeper_reference_03_06_m"
                        ], 
                        id='cont4', 
                        class='bg_grey'
                    )
                }}

                {{
                    fn.cont_use(
                        title='똑똑한 <em>모바일키퍼</em> 이용법', 
                        decs='모바일키퍼를  도입하는 기업 환경에 따라 다양한 기능과 구축 모델을 제공하여 기업에 최적화된 서비스로 제공합니다.', 
                        list_decs=[
                            {
                                title:'모바일키퍼 구축형',
                                decs : '모바일키퍼 구축형은 기업 내부에 서버를 구축하여 기업 맞춤식 도입이 가능합니다. 보안성과 안정성에 초점을 둔 대규모 인프라가 구축된 기업에게 적합합니다.'
                            },
                            {
                                title:'모바일키퍼 어플라이언스',
                                decs : '모바일키퍼 어플라이언스는 별도의 소프트웨어 설치나 설정이 필요 없는 일체형 장비로 제공됩니다. 추가 설치 없이 신청 후 최대 2주 안에 설치 및 운영이 가능합니다.'
                            },
                            {
                                title:'모바일키퍼 구독형',
                                decs : '모바일키퍼 구독형은 구축 서비스를 월과금 정책으로 동일하게 이용할 수 있습니다. 구독형 서비스는 연간 계약을 통해 초기 구축 비용 부담을 낮추어 중소기업에서 도입하기 적합합니다. 계약 년수에 따라 할인율이 적용되고 있습니다.'
                            }
                        ], 
                        id='cont5', 
                        class=''
                    )
                }}

                {{
                    fn.cont_guide(
                        title1="모바일키퍼가 궁금하신가요?", 
                        title2='편하신 방법으로 문의하세요!', 
                        tel='02-2006-6983', 
                        mail='mk@jiran.com', 
                        id='', 
                        class='guide'
                    )
                }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
    