
{% set title = '제품소개' %}
{% set products_type = 'page01' %}
{% import "./templates/_fn.njk" as fn %}


{% extends "./templates/_layout.njk" %}

{% block content %}
<div class="prodocuts">
    <div class="visual_sec" id="visualSec">
        <div class="txt_sec">
            <p class="title">
                <span class="small">콘텐츠 악성코드 무해화</span>
                <span>새니톡스</span>
            </p>
            <div class="visual_img">
                <img src="../../images/product/img_product_sanitox_visual.png" alt="">
            </div>
            <p class="decs">랜섬웨어를 원천 차단하고 위장 악성 파일의 실행 기능을 무력화 시키는 <br>강력한 CDR 솔루션</p>
            <div class="type">
                <span class="type1"><i></i>구축형</span>
                <span class="type2"><i></i>어플라이언스</span>
                <span class="type3"><i></i>클라우드</span>
            </div>
            <div class="btns">
                <a href="" class="download">브로셔 다운로드</a>
                <a href="" class="demo">실시간 데모</a>
                <a href="" class="cloude">클라우드 30일 무료</a>
            </div>
        </div>
        
    </div>
    <div class="prd_conts">
        <div class="prd_scroll_spy">
            <div class="scroll_spy_nav" data-modules-scrollspy>
                <div class="inset">
                    <ul class="ui-spynav">
                        <li><a href="#cont1"><span>제품소개</span></a></li>
                        <li><a href="#cont2"><span>특장점</span></a></li>
                        <li><a href="#cont3"><span>주요기능</span></a></li>
                        <li><a href="#cont4"><span>레퍼런스</span></a></li>
                        <li><a href="#cont5"><span>이용방법</span></a></li>
                    </ul>
                </div>
            </div>      
            <div class="scroll_spy_conts">
                {{
                    fn.cont_first(
                        title='랜섬웨어 제거하는 <em>새니톡스</em>', 
                        decs='<em>새니톡스(SaniTOX)</em>는 사용자가 실행하는 모든 문서의 구조 분석을 통해 악성코드로 활용 가능한 액티브 콘텐츠 영역만을 탐지하여 제거(비활성화) 한 후 <br>안전한 파일로 재조합하는 <em>콘텐츠 악성코드 무해화(CDR<i>*</i>)</em> 솔루션입니다. 위협요소를 원천 제거 후 안전한 파일로 재조합하기 때문에  랜섬웨어 공격과 알려지지 않은 <br>보안 위협을 사전에 예방할 수 있습니다. 무해화된 문서만을 열람하는 새니톡스와 함께 안전한 문서 생활을 시작하실 수 있습니다.', 
                        img='img_product_sanitox_intro', 
                        sub_decs='<i>*</i>CDR(Content Disarm & Reconstruction) : 콘텐츠 악성코드 무해화 & 재조합 기술'
                    )
                }}
                <div class="prd_sec bg_grey" id="cont2">
                    <div class="inset">
                        <p class="title"><em>새니톡스</em>가 특별한 이유</p>
                        <p class="decs">새니톡스는 다년 간의 R&D 투자를 통해 자체 개발한 지란지교시큐리티만의 CDR 엔진으로 콘텐츠 구조를 분석해 비정상적인 포맷을 탐지하고 <br>구성요소를 빠르게 제거하여 원본의 모습으로 안전하게 재조합 합니다. 고객이 직접 업로드하는 웹하드를 비롯하여 서버, 망연계 시스템 어느 곳에든 <br>구축될 수 있는 새니톡스는 랜섬웨어, 악성코드, APT<i>*</i> 및 Zero-Day<i>**</i> 공격에도 삼중 보안이 가능합니다.</p>
                        <div class="prd_benefits">
                            <ul>
                                <li>
                                    <div class="img_ico"><img src="../../images/product/img_product_sanitox_benefits_01.png" alt=""></div>
                                    <dl>
                                        <dt>강력한 콘텐츠 무해화</dt>
                                        <dd>자체 개발 엔진 탑재로 강력한 무해화<br>성능 및 검증된 무결성 보장</dd>
                                    </dl>
                                </li>
                                <li>
                                    <div class="img_ico"><img src="../../images/product/img_product_sanitox_benefits_02.png" alt=""></div>
                                    <dl>
                                        <dt>메일, 웹, 파일서버 연동</dt>
                                        <dd>eMail G/W, 웹 API, NFS,<br>SMB, SFTP 등</dd>
                                    </dl>
                                </li>
                                <li>
                                    <div class="img_ico"><img src="../../images/product/img_product_sanitox_benefits_03.png" alt=""></div>
                                    <dl>
                                        <dt>강력한 Post Analysis</dt>
                                        <dd>직관적인 로그 및 통계, 레벨별 정보,<br>위험도 및 연관분석</dd>
                                    </dl>
                                </li>
                                <li>
                                    <div class="img_ico"><img src="../../images/product/img_product_sanitox_benefits_04.png" alt=""></div>
                                    <dl>
                                        <dt>최상의 고객지원 서비스</dt>
                                        <dd>신속한 유선/원격/방문 지원으로<br>맞춤형 대응 및 안정적 운영 지원</dd>
                                    </dl>
                                </li>
                            </ul>
                        </div>
                        <p class="sub_decs"><i>*</i>APT(Advanced Persistent Threat) : 지능형 지속위협<br><i>**</i>Zero-Day : 제로데이 위협, 소프트웨어의 취약점 패치가 없는 시점에 이루어지는 공격</p>
                    </div>
                </div>

                <div class="prd_sec" id="cont3">
                    <div class="inset">
                        <p class="title"><em>새니톡스</em>로 누리는 안전한 생활</p>
                        <p class="decs">새니톡스 어플라이언스는 단일 장비에서 웹, 폴더, 메일, 파일서버 연동 등 다양한 인터페이스를 통합 지원하여 다양한 채널에서 활용할 수 있습니다.<br>그리고 새니톡스 클라우드는 기업의 운영부담을 줄인 클라우드 기반 에이전트 지원으로 문서 콘텐츠 보안과 관리를 더욱 편리하게 합니다.<br>기존 백신 또는 샌드박스로도 대응하기 어려운 악성코드, 랜섬웨어의 위협으로부터 CDR 기술을 이용한 새니톡스로 자유로워지세요.</p>
                        <div class="prd_features">
                            <ul>
                                <li>
                                    <div class="img_ico"><img src="../../images/product/img_product_sanitox_features_01.png" alt=""></div>
                                    <dl>
                                        <dt>강력한 자체 CDR 엔진</dt>
                                        <dd>실시간 무해화 및 원본 파일 재조합으로<br>안전한 파일 제공</dd>
                                    </dl>
                                </li>
                                <li>
                                    <div class="img_ico"><img src="../../images/product/img_product_sanitox_features_02.png" alt=""></div>
                                    <dl>
                                        <dt>최적화 운영 관리</dt>
                                        <dd>백신 및 CDR 엔진 업데이트<br>상시 최적화 유지</dd>
                                    </dl>
                                </li>
                                <li>
                                    <div class="img_ico"><img src="../../images/product/img_product_sanitox_features_03.png" alt=""></div>
                                    <dl>
                                        <dt>유연한 정책 관리</dt>
                                        <dd>차단/예외 등 다양한 정책관리<br>기능 지원</dd>
                                    </dl>
                                </li>
                                <li>
                                    <div class="img_ico"><img src="../../images/product/img_product_sanitox_features_04.png" alt=""></div>
                                    <dl>
                                        <dt>다양한 포맷 무해화</dt>
                                        <dd>MS Office, 한글(HWP), PDF,<br>ZIP, Image 포맷 등 </dd>
                                    </dl>
                                </li>
                                <li>
                                    <div class="img_ico"><img src="../../images/product/img_product_sanitox_features_05.png" alt=""></div>
                                    <dl>
                                        <dt>제품 확장성 지원</dt>
                                        <dd>eMail G/W, API, SFTP, SMB, NFS 등<br>다양한 연계 및 확장성 지원</dd>
                                    </dl>
                                </li>
                                <li>
                                    <div class="img_ico"><img src="../../images/product/img_product_sanitox_features_06.png" alt=""></div>
                                    <dl>
                                        <dt>직관적 통계 리포트</dt>
                                        <dd>로그 및 통계 분석 리포트 제공으로<br>위협 유형 분석</dd>
                                    </dl>
                                </li>
                                <li>
                                    <div class="img_ico"><img src="../../images/product/img_product_sanitox_features_07.png" alt=""></div>
                                    <dl>
                                        <dt>고객 니즈 최적화</dt>
                                        <dd>고객 규모에 맞는 어플라이언스<br>/에이전트 형태로 지원</dd>
                                    </dl>
                                </li>
                                <li>
                                    <div class="img_ico"><img src="../../images/product/img_product_sanitox_features_08.png" alt=""></div>
                                    <dl>
                                        <dt>고효율 저비용</dt>
                                        <dd>솔루션 확장성 대비<br>높은 가격 경쟁력</dd>
                                    </dl>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="prd_sec bg_grey" id="cont4">
                    <div class="inset">
                        <p class="title"><em>새니톡스</em> 도입 기업들</p>
                        <p class="decs">새니톡스를 도입한 기업들은 문서 속 악성 위협들을 무해화하여 안전한 문서 생활을 누리시고 계십니다.</p>
                        <div class="prd_reference">
                            <ul>
                                <li><div class="img_ico"><img src="../../images/product/img_product_sanitox_reference_01_01_m.png" alt=""></div></li>
                                <li><div class="img_ico"><img src="../../images/product/img_product_sanitox_reference_01_02_m.png" alt=""></div></li>
                                <li><div class="img_ico"><img src="../../images/product/img_product_sanitox_reference_01_03_m.png" alt=""></div></li>
                                <li><div class="img_ico"><img src="../../images/product/img_product_sanitox_reference_01_04_m.png" alt=""></div></li>
                                <li><div class="img_ico"><img src="../../images/product/img_product_sanitox_reference_01_05_m.png" alt=""></div></li>
                                <li><div class="img_ico"><img src="../../images/product/img_product_sanitox_reference_01_06_m.png" alt=""></div></li>
                                <li><div class="img_ico"><img src="../../images/product/img_product_sanitox_reference_02_01_m.png" alt=""></div></li>
                                <li><div class="img_ico"><img src="../../images/product/img_product_sanitox_reference_02_02_m.png" alt=""></div></li>
                                <li><div class="img_ico"><img src="../../images/product/img_product_sanitox_reference_02_03_m.png" alt=""></div></li>
                                <li><div class="img_ico"><img src="../../images/product/img_product_sanitox_reference_02_04_m.png" alt=""></div></li>
                                <li><div class="img_ico"><img src="../../images/product/img_product_sanitox_reference_02_05_m.png" alt=""></div></li>
                                <li><div class="img_ico"><img src="../../images/product/img_product_sanitox_reference_02_06_m.png" alt=""></div></li>
                                <li><div class="img_ico"><img src="../../images/product/img_product_sanitox_reference_03_01_m.png" alt=""></div></li>
                                <li><div class="img_ico"><img src="../../images/product/img_product_sanitox_reference_03_02_m.png" alt=""></div></li>
                                <li><div class="img_ico"><img src="../../images/product/img_product_sanitox_reference_03_03_m.png" alt=""></div></li>
                                <li><div class="img_ico"><img src="../../images/product/img_product_sanitox_reference_03_04_m.png" alt=""></div></li>
                                <li><div class="img_ico"><img src="../../images/product/img_product_sanitox_reference_03_05_m.png" alt=""></div></li>
                                <li><div class="img_ico"><img src="../../images/product/img_product_sanitox_reference_03_06_m.png" alt=""></div></li>
                            </ul>
                        </div>
                        <div class="more">
                            <a href="">레퍼런스 더보기</a>
                        </div>
                    </div>
                </div>

                <div class="prd_sec" id="cont5">
                    <div class="inset">
                        <p class="title">똑똑한 <em>새니톡스</em> 이용법</p>
                        <p class="decs">새니톡스를 도입하는 기업 환경에 따라 다양한 구축 모델을 제공하여 기업에 최적화된 서비스로 제공합니다.</p>
                        <div class="prd_use">
                            <div class="swiper-container" id="box_slider">
                                <div class="box swiper-wrapper">
                                    <div class="lists swiper-slide">
                                        <div>
                                            <span class="num">
                                                <i></i>
                                            </span>
                                            <dl>
                                                <dt>새니톡스 어플라이언스</dt>
                                                <dd>별도의 소프트웨어 설치나 설정이 필요 없는 일체형 장비로 제공됩니다. 단일 장비에서 웹 서버, 파일 서버(SFTP, NFS), 메일 서버(MTA), 웹API 등 다양한 시스템 연동을 지원하므로 높은 확장성을 경험하실 수 있습니다.</dd>
                                            </dl>
                                            <a href="" class="link">브로셔 다운로드</a>
                                            <div class="img_ico"><img src="../../images/product/img_product_use_appliance.png" alt=""></div>
                                        </div>
                                    </div>
                                    <div class="lists swiper-slide">
                                        <div>
                                            <span class="num">
                                                <i></i>
                                                <i></i>
                                            </span>
                                            <dl>
                                                <dt>새니톡스 클라우드</dt>
                                                <dd>새니톡스 EP(Endpoint Platform)는 메일, 웹, 파일서버 등 시스템 연동없이 무해화를 실행하는 새니톡스의 클라우드 버전입니다.  IT 전문운영 인력이 부족한 소호·중소기업에서도 손쉽게 사용하실 수 있습니다.</dd>
                                            </dl>
                                            <a href="" class="link">브로셔 다운로드</a>
                                            <div class="img_ico"><img src="../../images/product/img_product_use_cloud.png" alt=""></div>
                                        </div>
                                    </div>
                                    <div class="lists swiper-slide">
                                        <div>
                                            <span class="num">
                                                <i></i>
                                                <i></i>
                                                <i></i>
                                            </span>
                                            <dl>
                                                <dt>새니톡스 SDK</dt>
                                                <dd>새니톡스 CDR 엔진을 자체 소프트웨어/하드웨어의 제품 또는 서비스에 통합할 수 있도록 API를 제공합니다. 소프트웨어 개발사 및 서비스 제공 기업이라면 원하는 어느곳에든 적용하실 수 있습니다.</dd>
                                            </dl>
                                            <a href="" class="link">브로셔 다운로드</a>
                                            <div class="img_ico"><img src="../../images/product/img_product_use_onpremise.png" alt=""></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="prd_sec guide">
                    <div class="inset">
                        <p class="qu1">새니톡스가 궁금하신가요?</p>
                        <p class="qu2">편하신 방법으로 문의하세요!</p>
                        <div class="links">
                            <a href="tel:02-2006-6989" class="tel">02-2006-6989</a>
                            <a href="mailto:sanitox@jiran.com" class="mail">sanitox@jiran.com</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
    